---
import PageLayout from "../../layouts/PageLayout.astro";
import config from "../../config.json";
import { Icon } from "astro-icon/components";
---

<PageLayout title="Services">
  <section>
    <div
      class="max-w-screen-2xl mx-auto flex flex-col items-center gap-16 py-32 px-4"
    >
      <h1 class="text-center text-4xl max-w-xl w-full font-medium">
        We produce the media so that you can focus on what matters
      </h1>
      <div class="flex flex-col gap-4 max-w-lg mx-auto">
        {
          config.services.map((service) => (
            <a
              href={service.url}
              class={`group hover:bg-accent transition-colors w-full py-16 px-8 max-md:py-8 text-4xl overflow-hidden text-center uppercase relative bg-primary`}
            >
              <h1 class="z-10 relative font-medium text-primary-content group-hover:text-black">
                {service.name}
              </h1>
              <Icon
                name={service.icon}
                class="text-[200px] group-hover:opacity-90 opacity-50 duration-0 text-primary-content absolute -bottom-8 -right-8 rotate-45"
              />
            </a>
          ))
        }
      </div>
    </div>
  </section>
</PageLayout>
