---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";

import ourImpactImg14 from "../assets/images/our-impact/ourImpact14.jpeg";

const whatMakesUsDifferent = [
  {
    name: "Establish Elevate Studios as a leading media company",
    description:
      "We aim to position ourselves at the forefront of the media industry by delivering innovative, impactful content that sets us apart and establishes us as a trusted name in media production.",
  },
  {
    name: "Build strong, lasting relationships with our clients",
    description:
      "Our focus is on fostering deep, collaborative partnerships with our clients, ensuring that we understand their unique needs and goals, and consistently deliver exceptional results that build trust and loyalty over time.",
  },
  {
    name: "Empower those we work with to elevate their potential",
    description:
      "Whether it's our clients, partners, or team members, we are committed to creating an environment where everyone has the opportunity to grow, succeed, and realise their full potential. Through mentorship, collaboration, and continuous learning, we help others reach new heights.",
  },
];
---

<PageLayout title="About Us">
  <div class="flex flex-col max-md:gap-8 mb-16 ">
    <section>
      <div class="max-w-screen-2xl mx-auto px-4">
        <div
          class="grid grid-cols-2 max-md:grid-cols-1 gap-16 place-items-center"
        >
          <Image
            src={ourImpactImg14}
            alt={"About Us"}
            class="w-full h-full object-cover"
          />
          <div class="flex flex-col gap-4 text-secondary-content">
            <h1 class="font-bold text-xl">
              Elevate Studios has a unique story. We're building a sustainable model to fund our community outreach programs. To continue serving the families and communities we care about, we've created a future-proof product in an industry that's only set to grow.
            </h1>
            <p class="text-xl">
              As a business, we've sought out the best creatives in the industry to build a team that is not only highly skilled but also deeply aligned with our mission. Our team is dedicated to telling powerful, meaningful stories that resonate and create impact. Every individual brings their unique talents and perspective, working together to craft narratives that inspire, connect, and drive change. We are committed to producing high-quality, authentic content that reflects our values and the communities we serve.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="max-w-screen-xl mx-auto px-4">
        <div class="grid-cols-2 grid max-md:grid-cols-1 gap-16">
          <div class="flex flex-col max-md:order-2 gap-8 py-16 max-md:py-0">
            {
              whatMakesUsDifferent.map((item, index) => (
                <div class="flex flex-col gap-1 w-full">
                  <h2 class="font-bold text-2xl text-secondary-content">{item.name}</h2>
                  <p class="text-lg text-secondary-content font-light">{item.description}</p>
                </div>
                <hr class={`${index == whatMakesUsDifferent.length - 1 ? "hidden" : ""}`} />
              ))
            }
          </div>
          <div
            class="bg-primary w-full flex items-center justify-left md:pl-16 h-full max-md:py-16 max-md:px-8"
          >
            <h1 class="text-primary-content text-6xl max-md:text-5xl font-bold md:w-72">
              What makes us different?
            </h1>
          </div>
        </div>
      </div>
    </section>
  </div>
</PageLayout>
