---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const team = [
  // {
  //   department: "Advisory Panel",
  //   members: [
  //     {
  //       name: "Micheal Rewi",
  //       role: "CEO - Mana Tahuna Charitable Trust",
  //     },
  //   ],
  // },
  {
    department: "Leadership",
    members: [
      {
        name: "Christian Prescott",
        role: "Chief Executive Officer",
      },
      {
        name: "Carmelita Lam",
        role: "Chief Financial Officer",
      },
      {
        name: "Liam Tuaiti",
        role: "Chief Operations Officer",
      },
    ],
  },
  {
    department: "Music",
    members: [
      {
        name: "Simione Petelo",
        role: "Music & Audio Lead",
      },
      {
        name: "Nafu Fofilau",
        role: "Producer + Audio Engineer",
      },
      {
        name: "Daniel Patea",
        role: "Artist",
      },
    ],
  },
  {
    department: "Media",
    members: [
      {
        name: "Nathaniel Cocker-Valu",
        role: "Graphic Design + Editor",
      },
      {
        name: "Briahna Barret",
        role: "Marketing",
      },
    ],
  },
  {
    department: "Community",
    members: [
      {
        name: "Fale Lea'aetalafoou",
        role: "Social Worker - Masters",
      },
      {
        name: "Culistofa Petelo",
        role: "Outsole Lead",
      },
      {
        name: "Setaleki Atiola",
        role: "Kumete Lead",
      },
    ],
  },
];
---

<PageLayout title="Our Team">
  <div class="flex flex-col max-md:gap-8 mb-16">
    <section>
      <div class="max-w-screen-xl mx-auto px-4">
        <div class="flex flex-col items-center gap-16 w-full">
          {
            team.map((item) => (
              <div class="flex flex-col gap-8 w-full">
                <h1 class="font-bold text-6xl text-start text-secondary-content">
                  {item.department}
                </h1>
                <div class="grid grid-cols-4 max-md:grid-cols-2 gap-16 w-full">
                  {item.members.map((member) => (
                    <div class="flex flex-col gap-4">
                      <div class="aspect-square bg-primary flex items-center justify-center">
                        <Icon
                          name="mdi:person"
                          class="text-9xl text-base-100"
                        />
                      </div>
                      <div class="flex flex-col gap-2">
                        <h1 class="text-4xl text-secondary-content font-medium">
                          {member.name}
                        </h1>
                        <h2 class="text-secondary-content/60">{member.role}</h2>
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</PageLayout>
