---
import Layout from "./Layout.astro";

const { title } = Astro.props;
---

<Layout title={title} isAbsolute={false}>
  <section
    class="h-[30vh] max-md:h-[20vh] from-secondary to-primary bg-gradient-to-b from-5% to-20% w-full relative mb-16"
  >
    <h1
      class="absolute font-black bottom-6 max-md:text-4xl text-primary-content left-6 text-6xl"
    >
      {title}
    </h1>
  </section>
  <slot />
</Layout>
